/*Style panel chat*/
.chat {
    list-style: none;
    margin-top: -10px;
    margin-left: -10px;
    padding: 0;
}
.chat li {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
    margin-left: 3px;
}

.chat li.right .chat-body {
    margin-right: 3px;
}


.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon {
    margin-right: 5px;
}

.panel-body {
    overflow-y: scroll;
    height: 300px;
}

.panel-body-user {
    height: auto;
    overflow-y: hidden;
    padding: 10px;
}

.imgchat {
    position: relative;
    width: 40px;
    height: 50px;
    float: left;
    margin-right: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

/*Style usuario online*/

.label {
    border-radius: 3px;
    font-size: 0.875em;
    font-weight: 600;
}
.user-subhead {
    font-size: 0.875em;
    font-style: italic;
}
.user-perfil {
    display: block;
    /*font-size: 1.25em;*/
    padding-top: 3px;
    /*margin-left: 60px;*/
}
.user-perfil:hover {
    text-decoration: none;
}
.user-perfil:link {
    text-decoration: none;
}
a {
    color: #3498db;
    outline: none!important;
}
.user-list li>img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}

.listaul li {
    font-size: 0.875em;
    vertical-align: middle;
    border-top: 1px solid #e7ebee;
    padding: 12px 8px;
}

.listaul {
    margin-left: 0px;
}

.img-adjuntar {
    width: 33px;
    height: 33px;
    padding: 2px;
}

.btn-enviar-chat {
    padding:3px;
}

.list-group {
    margin-left: 0px;
}

.list-group-item {
    padding: 5px 5px 0px 5px;
}

.input-group {
    width: 100%;
}

.input-group .input-wrapper{
    background: #fff;
    border: 1px solid #cfdae1;
    border-radius: 5px;
    overflow: hidden;
    float: left;
    width: 100%;
}

/*.input-group .input-wrapper:hover{
    border-color: #337ab7;
    box-shadow: 0 0 8px 0px #337ab7;
}*/
.input-group .input-wrapper input{
    height: 30px;
    width: 80%;
    line-height: 30px;
    border: 0;
    margin: 0;
    padding: 0 10px;
    outline: none;
    color: #5D7185;
    min-width: 271px;
}
.input-group .input-wrapper span{
    font-size: 18px;
    color: #a0b4c0;
    margin-right: 10px;
    margin-top:8px;
    cursor: pointer;
    float: right;
}
.input-group .input-wrapper label span{
    font-size: 18px;
    color: #a0b4c0;
    margin-right: 10px;
    margin-top:8px;
    cursor: pointer;
    float: right;
}
.input-group .input-wrapper span.fa-smile-o:hover{
    color: #E7B200;
}
.input-group .input-wrapper span.fa-paperclip:hover {
    color: #6EA0FF;
}
.input-group .input-wrapper span.fa-camera:hover {
    color: #6E6E6E;
}
.input-group > input{
    background: #a0b4c0;
    border: none;
    letter-spacing:1px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    float:right;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    font-family: 'Open Sans', Arial, sans-serif;
    outline: none;
}
.conf{
    float: right;
    font-size: 18px;
    cursor: pointer;
}

label {
    display: inline;
}