/*Style panel chat*/
.chat {
    list-style: none;
    margin-top: -10px;
    margin-left: -10px;
    padding: 0;
}
.chat li {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
    margin-left: 3px;
}

.chat li.right .chat-body {
    margin-right: 3px;
}


.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon {
    margin-right: 5px;
}

.panel-body-content {
    overflow-y: scroll;
    height: 400px;
}

.panel-body-user {
    height: auto;
    overflow-y: hidden;
    padding: 10px;
}

.imgchat {
    position: relative;
    width: 70px;
    height: 80px;
    float: left;
    margin-right: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

/*Style usuario online*/

.label {
    border-radius: 3px;
    font-size: 0.875em;
    font-weight: 600;
}
.user-subhead {
    font-size: 0.875em;
    font-style: italic;
}
.user-perfil {
    display: block;
    /*font-size: 1.25em;*/
    padding-top: 3px;
    /*margin-left: 60px;*/
}
.user-perfil:hover {
    text-decoration: none;
}
.user-perfil:link {
    text-decoration: none;
}
a {
    color: #3498db;
    outline: none!important;
}

.user-list {
    margin-left: 0px;
}

.list-group {
    margin-left: 0px;
}

.list-group-item {
    padding: 5px 5px 0px 5px;
}
.list-group-li {
    font-size: 0.875em;
    vertical-align: middle;
    border-top: 1px solid #e7ebee;
    padding: 12px 8px;
    height: 100px;
}

.input-group {
    width: 100%;
}

.input-group .input-wrapper{
    background: #fff;
    border: 1px solid #cfdae1;
    border-radius: 5px;
    overflow: hidden;
    float: left;
    width: 100%;
}

/*.input-group .input-wrapper:hover{
    border-color: #337ab7;
    box-shadow: 0 0 8px 0px #337ab7;
}*/
.input-group .input-wrapper input{
    height: 30px;
    width: 80%;
    line-height: 30px;
    border: 0;
    margin: 0;
    padding: 0 10px;
    outline: none;
    color: #5D7185;
    min-width: 271px;
}
.input-group .input-wrapper span{
    font-size: 18px;
    color: #a0b4c0;
    margin-right: 10px;
    margin-top:8px;
    cursor: pointer;
    float: right;
}
.input-group .input-wrapper label span{
    font-size: 18px;
    color: #a0b4c0;
    margin-right: 10px;
    margin-top:8px;
    cursor: pointer;
    float: right;
}
span.fa.fa-smile-o.add-emoticon:hover{
    color: #E7B200;
}
span.fa.fa-paperclip.add-file:hover {
    color: #6EA0FF;
}
span.fa.fa-picture-o.add-picture:hover {
    color: #6EA0FF;
}
.input-group > input{
    background: #a0b4c0;
    border: none;
    letter-spacing:1px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    float:right;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    font-family: 'Open Sans', Arial, sans-serif;
    outline: none;
}
.mySettings{
    float: right;
    font-size: 18px;
    cursor: pointer;
}

label {
    display: inline;
}

#panel-body{   
    overflow-y: scroll;
    overflow-x: hidden;
}

.fa-3x{
    padding: 5px;
    display:inline-block;
    color:#337ab7;
}
.fa-2x{
    padding: 5px;
    text-align:left;
    display:inline-block;
    color:#E7B200;
}
.controls {
    padding-bottom: 0px;
}

/*ui css*/
button.fa{
    border: none;
    color: #337ab7;
    background-color: transparent;
    text-decoration: none;
    border-radius: 5px;
}
button.fa:hover{
    border: none;
    color: #337ab7;
    background-position: 0 -5px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
    background-color: #48ca3b;
    border-radius: 5px;
}
button.fa:active, button.fa:focus{
    border: none;
    color: #337ab7;
    background-color: #48ca3b; 
    background-position: 0 100%;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
    background-color: #48ca3b;
    border-radius: 5px;
}

button.fa[disabled], input[type=button][disabled] {
    background-color: transparent;
    color: #333;
    text-shadow: none;
    cursor:not-allowed;
}
input[type=text][disabled] {
    cursor:not-allowed;
}

a {
    color: #2844FA;
    text-decoration: none;
}

a:hover, a:focus {
    color: #1B29A4;
}

a:active {
    color: #000;
}

.numbers-of-users {
    font-size: 1.5em;

}

#save-settings {
    float: right;
}

.settings-panel {
    margin: 0 0 13px 0;
    height: auto;
    border: 1px solid #337ab7;
    overflow: hidden;
    overflow-x: auto;
    padding: .4em .8em;
    border-radius: 5px;
    display: none;
} 

table {
    margin-top: 6px;
}

select {
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    padding: .4em .4em;
    margin-top: 5px;
}

label.adjust-width {
    display: inline-block;
    width: 30%;
}

.media-container {
    border: 1px solid #337ab7;
}