<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Propuesta</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="propuesta.css">
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="RTCMulticonnection.js"></script>
	<script type="text/javascript" src="propuesta.js"></script>

</head>
<body>
	<div class="row">
	<div class="col-sm-12 col-md-5 sidebar-offcanvas">
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <span class="fa fa-users"></span> Usuarios Conectados
	  </div>
	  <ul class="list-group">
	      <li class="list-group-item" ng-repeat="peer in peers">
	          <div class="btn-group btn-group-xs pull-right">
	            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
	              Acción <span class="caret"></span>
	            </button>
	            <ul class="dropdown-menu" role="menu">
	              <li><a href="javascript:void(0)" ng-click="setMessageTarget(peer.user)">Mensaje directo</a></li>
	              <li><a href="javascript:void(0)" ng-click="startVideoCall(peer.user)">Video llamada</a></li>
	              <li><a href="javascript:void(0)" ng-click="startVideoCall(peer.user)">Llamada de voz</a></li>
	            </ul>
	          </div>
	         <img src="pix/manuel.jpg" alt="" class="imgchat img-circle" />
	            <a href="#" class="user-perfil">Manuel Fernando Marulanda Aguirre</a>
	            <span class="user-perfil"><h6><span class="label label-success">online</span></h6></span>
	      </li>
	      <li class="list-group-item" ng-repeat="peer in peers">
	          <div class="btn-group btn-group-xs pull-right">
	            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
	              Acción <span class="caret"></span>
	            </button>
	            <ul class="dropdown-menu" role="menu">
	              <li><a href="javascript:void(0)" ng-click="setMessageTarget(peer.user)">Mensaje directo</a></li>
	              <li><a href="javascript:void(0)" ng-click="startVideoCall(peer.user)">Video llamada</a></li>
	              <li><a href="javascript:void(0)" ng-click="startVideoCall(peer.user)">Llamada de voz</a></li>
	            </ul>
	          </div>
	         <img src="pix/foto.jpg" alt="" class="imgchat img-circle">
	            <a href="#" class="user-perfil">Shirly Robayo Montenegro</a>
	            <span class="user-perfil"><h6><span class="label label-warning">inactivo</span></h6></span>
	      </li>
	  </ul>
</div> 
        </div> <!-- END col-sm-10 col-md-5 sidebar-offcanvas-->
        <div class="col-sm-12 col-md-7">
            <div class="panel panel-primary">
            <!-- local/remote contenedor del video -->
          <div id="videos-container"></div>
            </div>
                
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="fa fa-comment"></span> Conversación <span class="fa fa-cog" style="float: right; font-size: 18px; cursor: pointer;"></span>
                </div> <!-- END panel-heading-->
                <div class="panel-body content">               
                    <ul id="chat-list" class="chat">
                        <li class="left clearfix">
                            <img src="pix/manuel.jpg" alt="User Avatar" class="imgchat img-rounded chat-img pull-left" />
                            <div class="chat-body clearfix">
                                <strong class="primary-font">Manuel Fernando Marulanda Aguirre</strong>
                                <small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span>10:45 pm</small>
                                <p class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div> <!-- END hat-body clearfix-->
                        </li>
                        
                        <li class="left clearfix">
                            <img src="pix/foto.jpg" alt="User Avatar" class="imgchat img-rounded chat-img pull-left" />
                            <div class="chat-body clearfix">
                                <strong class="primary-font">Shirly Robayo Montenegro</strong>
                                <small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span>10:40 pm</small>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="left clearfix">
                            <img src="pix/manuel.jpg" alt="User Avatar" class="imgchat img-rounded chat-img pull-left" />
                            <div class="chat-body clearfix">
                                <strong class="primary-font">Manuel Fernando Marulanda Aguirre</strong>
                                <small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span>10:39 pm</small>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div> <!-- END hat-body clearfix-->
                        </li>
                    </ul>
                </div> <!-- END panel-body-->
                <div class="panel-footer">
	                <div class="input-group">
						<div class="input-wrapper">
							<input id="text" type="text" value="" placeholder="Escriba su mensaje...">
							<span class="fa fa-camera"></span>
							<span class="fa fa-paperclip"></span>
							<span class="fa fa-smile-o"></span>
						</div>
					</div>
	            </div> <!-- END panel-footer-->

            </div> <!-- END panel panel-primary-->
        </div> <!-- col-sm-12 col-md-7-->
</div> <!-- END row-->
</body>
</html>